@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.footer_container {
  width: 1024px;
  margin: 0 auto;
  background-color: #ff922b;
  color: #ffe8cc;
}
