<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 커스텀 css, js -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="bucket.css" />
  </head>
  <body>
    <header class="box">
      <div class="header-container">
        <div class="logo">β</div>
        <div class="">로그인/회원가입</div>
      </div>
    </header>

    <section id="contents" class="box hero">
      <div class="hero-body">
        <div class="title">장바구니</div>
        <hr />
        <div class="columns">
          <div class="column">이미지</div>
          <div class="column">상품명</div>
          <div class="column">가격정보</div>
        </div>
        <div class="columns">
          <div class="column">이미지</div>
          <div class="column">상품명</div>
          <div class="column">가격정보</div>
        </div>
      </div>
    </section>

    <footer class="footer_container">
      <div class="footer_title">β</div>
      <div class="columns">
        <div class="cloumn">호진</div>
        <div class="cloumn">상우</div>
        <div class="cloumn">세현</div>
        <div class="cloumn">화낙</div>
        <div class="cloumn">세은</div>
      </div>
      <div class="footer_right">All rights reserved...</div>
    </footer>
  </body>
</html>
