<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="bucket.css" />
  </head>
  <body>
    <header id="header">
      <div class="header_container">
        <div class="logo_header">LOGO header</div>
      </div>
      <div class="category_container"><div class="category">category</div></div>
    </header>

    <section id="contents">
      <div class="content_container">
        <div class="bucket_header">
          <div class="bucket_title">장바구니</div>
          <hr />
        </div>
        <div class="bucket_info_area">
          <div class="bucket_info">
            <div class="bucket_img">이미지</div>
            <div class="bucket_content">상품명</div>
            <div class="bucket_price">가격정보</div>
          </div>
          <div class="bucket_info">
            <div class="bucket_img">이미지</div>
            <div class="bucket_content">상품명</div>
            <div class="bucket_price">가격정보</div>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer">
      <div class="footer_item">footer</div>
    </footer>
  </body>
</html>
