@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "S-CoreDream-3Light";
}

.register-user-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.register-user-form-box {
  width: 30rem;
}

.register-user-form-box .title {
  text-align: center;
}

.register-user-form-box .button {
  font-weight: bold;
}

.register-user-form-box .input:focus {
  border-color: #3488ce;
  box-shadow: 0 0 0 0.125em rgb(200, 226, 247);
}

.title {
  color: #ff922b;
}

.button {
  background-color: #ff922b;
  color: white;
}
