.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.login-form-box {
  width: 30rem;
}

.login-form-box .title {
  text-align: center;
}

.login-form-box .button {
  font-weight: bold;
}

.title {
  color: #ff922b;
}

.button {
  background-color: #ff922b;
  color: white;
}

.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.register {
  text-align: center;
  color: #ff922b;
}
