main {
  width: 1024px;
  margin: 30px auto 80px auto;
}
.none-flex {
  flex: none;
}

.search-input {
  width: 30%;
}

.subSpan {
  font-weight: 700;
}

.small-span {
  font-size: 13px;
  color: grey;
}

.info-input {
  width: 80%;
  border-radius: 10px;
}

.content > .detail-div {
  display: flex;
  align-items: center;
}

.content > .detail-div > div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}
.content > .detail-div > div > label {
  font-weight: bold;
}

.select {
  width: 80%;
}

.full-select {
  width: 100%;
}

.select > select {
  width: 100%;
  border-radius: 10px;
}

.table > thead {
  font-weight: bold;
}

.table > tbody > tr:hover {
  background-color: ff922b;
}

.button {
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
}

.primary {
  background-color: #ff922b;
  color: white;
}

.primary:hover {
  background-color: #ff7b00;
  color: white;
}
