<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product.css" />
  </head>
  <body>
    <header id="header">
      <div class="header_container">
        <div class="logo_header">LOGO header</div>
      </div>
      <div class="category_container"><div class="category">category</div></div>
    </header>

    <section id="contents">
      <div class="content_container">
        <div class="product_img_area">상품 이미지</div>
        <div class="product_info_area">
          <div class="product_title">제목</div>
          <div class="product_content">한마디 설명</div>
          <div class="product_price">제품 가격</div>
          <div class="product_options">
            제품 옵션
            <select>
              <option>10팩</option>
              <option>20팩</option>
              <option>20팩</option>
            </select>
          </div>
          <div class="product_select_container">
            <div class="product_bucket_btn">장바구니</div>
            <div class="product_buy_btn">바로구매</div>
          </div>
        </div>
      </div>

      <div class="product_detail_container">
        <div class="detail_tab">
          <div class="detail_tab_item">상세 정보</div>
          <div class="detail_tab_item">배송 정보</div>
          <div class="detail_tab_item">영양 정보</div>
        </div>
        <div class="product_detail_area">
          <div class="product_detail">상품 상세 목록 이미지들</div>
          <div class="product_tab">
            상품 옵션 탭
            <div class="product_options">
              제품 옵션
              <select>
                <option>10팩</option>
                <option>20팩</option>
                <option>20팩</option>
              </select>
            </div>
            <div class="product_select_container">
              <div class="product_bucket_btn">장바구니</div>
              <div class="product_buy_btn">바로구매</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer">
      <div class="footer_item">footer</div>
    </footer>
  </body>
</html>
