@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "S-CoreDream-3Light";
}
#contents {
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.bucket-btn:hover,
.direct-pay:hover {
  background-color: #ff922b;
  border-color: #ff922b;
  color: #fff4e6;
}
/* 제품 상단 컴포넌트 */
.content_container {
  margin-bottom: 20px;
}

@media screen and (max-width: 764px) {
  #contents {
    width: 100%;
  }
  .hero-body {
    width: 100%;
  }
}
