#contents {
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-box {
  position: absolute;
  background-color: #fff;
  width: 400px;
  height: 400px;
  padding: 20px;
  border-radius: 0.25rem;
}

#paymentBtn:hover,
.modal-btn:hover {
  background-color: #ff922b;
  color: #fff4e6;
  border: none;
}
.is-close {
  display: none;
}

.bold {
  font-weight: 500;
}

.success-box {
  align-items: center;
  justify-content: center;
  width: 500px;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 764px) {
  #contents {
    width: 100%;
  }
  .hero-body {
    width: 100%;
  }
}
