<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 커스텀 css, js -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />

    <script type="module" src="/user/header-footer/inputHeader.js"></script>
    <script type="module" src="/user/header-footer/inputFooter.js"></script>
    <link rel="stylesheet" href="order.css" />
  </head>
  <body>
    <section id="contents" class="box">
      <div class="columns">
        <div class="column is-three-fifths">
          <div class="card block">
            <div class="card-header-title">주문 정보</div>
            <div class="card-content">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" for="receiverName">이름</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input
                        class="input"
                        id="receiverName"
                        type="text"
                        placeholder="받는 분 이름을 입력해 주세요."
                        autocomplete="on"
                      />
                    </p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" for="receiverPhoneNumber">연락처</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input
                        class="input"
                        id="receiverPhoneNumber"
                        type="number"
                        placeholder="- 없이 입력해 주세요."
                        autocomplete="on"
                      />
                    </p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" for="address2">주소</label>
                </div>
                <div class="field-body search">
                  <div class="field">
                    <p class="control">
                      <input
                        class="input"
                        id="postalCode"
                        type="text"
                        placeholder="주소찾기를 클릭해 주세요."
                        readonly
                      />
                    </p>
                  </div>
                  <div>
                    <button
                      class="button is-light is-hovered"
                      id="searchAddressButton"
                    >
                      주소찾기
                    </button>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal no-label"></div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input
                        class="input"
                        id="address1"
                        type="text"
                        placeholder=""
                        autocomplete="on"
                        readonly
                      />
                    </p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal no-label"></div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input
                        class="input"
                        id="address2"
                        type="text"
                        placeholder=""
                        autocomplete="on"
                      />
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card block">
            <div class="card-header-title">제품 목록</div>
            <div class="product-box"></div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-header-title">주문 결제 금액</div>
            <div class="card-content">결제 금액</div>
            <div class="card-content title total-price">0000</div>
            <button class="card-content button" id="paymentBtn">
              결제 하기
            </button>
          </div>
        </div>
      </div>
    </section>

    <div id="modal-payment" class="modal-container is-close">
      <div class="modal-bg"></div>
      <div class="modal-box">
        <div class="card">
          <div class="card-header-title">결제 목록</div>
          <div class="card-content">
            <div class="content">결제 금액</div>
            <div class="total-price title"></div>
          </div>
        </div>

        <button id="modal-close" class="button close-btn">닫기</button>
        <button class="button" id="send-order">결제 하기</button>
      </div>
    </div>

    <script type="module" src="order.js"></script>
    <script type="module" src="bucketInputHtml.js"></script>
    <script type="module" src="sendOrderData.js"></script>
  </body>
</html>
