.payment_container {
  border: 2px solid black;
  width: 500px;
  height: 1000px;
}

.payment_detail {
  border: 1px solid red;
  width: 400px;
  margin: 0 auto;
}
.product_items {
}
.address_info {
}
.total_price {
}

.payment_btn {
  background-color: orange;
  width: 300px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}
