<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="order_modal.css" />
  </head>
  <body>
    <div class="payment_container">
      <div class="payment_detail">
        <div class="product_items">주문목록들</div>
        <div class="address_info">배송정보</div>
        <div class="total_price">총 결제 금액</div>
      </div>
      <div class="payment_btn">결제하기</div>
    </div>
  </body>
</html>
