.header-container {
  display: flex;
}

.logo {
  background-color: #ff922b;
  width: 80px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}
  .category_container {
    border: 1px solid black;
    font-size: 50px;
    text-align: center;
  }
  
  #contents {
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .modal-box {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 400px;
    padding: 20px;
  }
  
  .is-close {
    display: none;
  }
  
  .footer_container {
    width: 1024px;
    margin: 0 auto;
    background-color: #ff922b;
    color: #ffe8cc;
  }
  